.app {
  margin: 3rem auto;
  width: 30rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app h1, .app p {
  margin: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.app {
  margin: 3rem auto;
  width: 30rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  text-align: center;
}

.app h1 {
  margin: 0;
  text-align: center;
}

hr.hr {
  border: 2px solid #4f005f;
  border-radius: 4px;
  width: 100%;
  margin: 15px auto;
}